.button {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    color: blue;
    background-color: crimson;
    filter: drop-shadow(0 0 1rem crimson);
    font-weight: bold;
    font-size: 17px;
}
